:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: hsl(237, 100%, 70%);
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  outline: none;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 16px;
}

.cardWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid rgba(35, 31, 27, 0.42);
  background: #fff;
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greyText {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.cardText {
  color: #231f1b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

.cardHeaderInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.flexWrap {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.main {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainInGame {
  padding: 30px 25px 0px 25px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("/images/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: #231f1b;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 24px */
  text-transform: uppercase;
  white-space: break-spaces;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.inputInner {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.inputTitle {
  color: #231f1b;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}
